@use'../../component/buttons';
@use '../../tools/responsive';

.blog{
    display: grid;
    grid-template-columns: var(--grid-container);
    margin-bottom: var(--section-gap);
    position: relative;

    &__title{
        grid-column: inner;
    }

    &__inner{
        grid-column: inner;
        display: grid;
        grid-template-columns: 55% 40%;
        align-items: center;
        gap: var(--grid-gap);
        margin-top: var(--section-inner-gap);
    }

    &__image{
        margin: 0;
        max-height: 100%;
        overflow: hidden;
        display: flex;

        img{
            object-fit: cover;
        }
    }

    &__content{
        margin: var(--section-inner-gap-small) 0;
    }

    &__text{
        margin: 2rem 0 var(--section-inner-gap);
    }

    &__button{
        @include buttons.standard;
    }

    &__stamps{
        position: absolute;
        bottom: -180px;
        right: 3rem;
        transform: rotate(120deg);
        mix-blend-mode: multiply;
    }

    @include responsive.max(1024px){
        &__image{
            margin-left: -13rem;
        }
    }

    @include responsive.max(800px){
        &__stamps{
            width: 25rem;
            height: auto;
        }
    }

    @include responsive.max(600px){
        &__stamps{
            display: none;
        }

        &__inner{
            grid-template-columns: 1fr;
            grid-template-rows: 55% 40%;
        }

        &__image{
            margin-left: 0;
        }

        &__text{
            margin: 1rem 0 var(--section-inner-gap);
        }
    }
}