@use'../../component/buttons';

.blog{
    display: grid;
    grid-template-columns: var(--grid-container);
    margin-bottom: var(--section-gap);
    position: relative;

    &__title{
        grid-column: inner;
    }

    &__inner{
        grid-column: inner;
        display: grid;
        grid-template-columns: 60% 40%;
        gap: var(--grid-gap);
        margin-top: var(--section-inner-gap);
    }

    &__image{
        margin: 0;
        max-height: 28rem;
        overflow: hidden;
    }

    &__content{
        margin: var(--section-inner-gap-small) 0;
    }

    &__text{
        margin: 2rem 0 var(--section-inner-gap);
    }

    &__button{
        @include buttons.standard;
    }

    &__stamps{
        position: absolute;
        bottom: -180px;
        right: 0;
        transform: rotate(120deg);
        mix-blend-mode: multiply;
    }
}