.hero{
    min-height: 100vh;
    display: grid;
    grid-template-columns: var(--grid-container);


    &__inner{
        grid-column: inner;
        display: grid;
        grid-template-columns: var(--grid-inner);
        margin: var(--section-inner-gap-small) 0 var(--section-gap);
    }

    &__stamps{
        position: absolute;
        z-index: 5;
        bottom: 0;
        left: 0;
        mix-blend-mode: multiply;
    }

    &__content{
        grid-column: 2/12;
        max-height: 600px;
        position: relative;

        &::after{
            content: '';
            position: absolute;
            top: 10%;
            bottom: -10%;
            right: -10%;
            left: 10%;


            background-color: var( --color-complement);
            z-index: 1;
        }

    }


    &__image{
        max-height: 600px;
        position: relative;
        overflow: hidden;
        margin: 0;
        z-index: 2;
        
        img{
            display: block;
        }

    }


    &__tags{
        position: absolute;
        display: grid;
        bottom: 5.5rem;
        right: 0;
        z-index: 3;
    }

    &__tag{
        background-color: var(--color-secondary);
        padding: 1.5rem 11rem 1.5rem 4rem;
        margin-bottom: var(--section-inner-gap-small);
    }
}