.hero{
    min-height: 100vh;
    width: 100%;
    display: flex;
    margin-bottom: var(--section-inner-gap);

    &__stamps{
        position: absolute;
        z-index: 5;
        bottom: 0;
        left: 0.5rem;
        mix-blend-mode: multiply;
    }

    &__content{
        max-width: 1024px;
        max-height: 600px;
        position: relative;
        display: flex;
        align-items: center;

        &::after{
            content: '';
            position: absolute;
            top: 10%;
            bottom: -10%;
            right: -5%;
            left: 5%;
            background-color: var( --color-complement);
            z-index: 1;
        }

    }


    &__image{
        max-height: 600px;
        position: relative;
        overflow: hidden;
        margin: 0;
        z-index: 2;
        
        img{
            display: block;
        }

    }


    &__tags{
        position: absolute;
        display: grid;
        bottom: 5.5rem;
        right: 0;
        z-index: 3;
    }

    &__tag{
        background-color: var(--color-secondary);
        padding: 1.5rem 11rem 1.5rem 4rem;
        margin-right: -1rem;
        margin-bottom: var(--section-inner-gap-small);
        cursor: pointer;
        transition: all 0.5s;
        &:hover{
            transform: translateX(-1rem);
        }
    }
}

.swiper-slide{
    display: flex;
    justify-content: center;
    margin-top: var(--section-inner-gap-small);
}