@use '../../tools/responsive';

.hero{
    height: 100vh;

    &__stamps{
        position: absolute;
        z-index: 5;
        bottom: 0;
        left: 0.5rem;
        mix-blend-mode: multiply;
    }

    &__content{
        width: 70%;
        height: 80%;
        position: relative;
        margin:var(--section-inner-gap) 0 var(--section-gap);

        &::after{
            content: '';
            background-color: var(--color-complement);
            position: absolute;
            top: 10%;
            left: 5%;
            width: 70vw;
            height: 70vh;
            z-index: 1;
        }
    }

    &__image{
        position: absolute;
        width: 100%;
        height: 90%;
        z-index: 2;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &-1{
            background-image: url(assets/pictures/hero-1.jpg);
        }

        &-2{
            background-image: url(assets/pictures/hero-2.jpg);
        }

        &-3{
            background-image: url(assets/pictures/hero-3.jpg);
        }

        &-4{
            background-image: url(assets/pictures/hero-4.jpg);
        }
    }

    &__tags{
        position: absolute;
        display: grid;
        bottom: 5.5rem;
        right: 0;
        z-index: 3;
    }

    &__tag{
        background-color: var(--color-secondary);
        padding: 1.5rem 11rem 1.5rem 4rem;
        margin-right: -1rem;
        margin-bottom: var(--section-inner-gap-small);
        cursor: pointer;
        transition: all 0.5s;
        &:hover{
            transform: translateX(-1rem);
        }
    }

    @include responsive.max(800px){
        &__content{
            width: 100%;
            height: 100%;
            margin: 0;
            &::after{
                display: none;
            }
        }

        &__stamps{
            width: 25rem;
            height: auto;
        }
    }

    @include responsive.max(500px){
        &__tag{
            padding: 1rem 5rem 1rem 2rem;
        }

        &__stamps{
            display: none;
        }

        &__image{
            &-3{
                background-position: -100px;
            }
        }
    }
}

.swiper-slide{
    display: flex;
    justify-content: center;
    margin:0;
}