@mixin standard(
    $background:var(--color-accent), 
    $color:var(--color-secondary), 
    $hover-background:var(--color-secondary),
    $hover-color:var(--color-accent)
    ) {
    background-color: $background;
    color: $color;
    padding: 0.7rem 2rem;
    display: inline-block;
    text-decoration: none;
    border: 2px solid $background;
    font-size: var(--font-size-1);
    font-family: var(--font-serif);

    &:hover{
        background-color: $hover-background;
        color: $hover-color;
    }
}