
@use '../tools/responsive';

/* global variables */
:root{
    --section-gap: 7.5rem;
    --section-inner-gap: calc(var(--section-gap)*0.75);
    --section-inner-gap-small:calc(var(--section-gap)*0.375);

    --grid-gap: 3.75rem;
    --grid-container: minmax(138px, 1fr) [inner-start] minmax(0, 73rem) [inner-end] minmax(138px, 1fr);
    --grid-inner:repeat(12,1fr);

    --content-width:55rem;

    // Add font here.
    --font-serif: "ff-providence-sans-web-pro", serif;
    --font-sans: "neuzeit-grotesk", sans-serif;

    // change base size and scale here
    --font-base:1rem;
    --font-scale:1.25;

    --font-size-small:calc(var(--font-base)/var(--font-scale));
    --font-size-1:var(--font-base);
    --font-size-2:calc(var(--font-size-1)*var(--font-scale));
    --font-size-3:calc(var(--font-size-2)*var(--font-scale));
    --font-size-4:calc(var(--font-size-3)*var(--font-scale));
    --font-size-5:calc(var(--font-size-4)*var(--font-scale));
    --font-size-6:calc(var(--font-size-5)*var(--font-scale));

    // change color here
    --color-primary:rgb(115, 115, 115);
    --color-secondary:#F2F2F2;
    --color-complement:#BFBFBF;
    --color-accent:#F4ABAB;

    @include responsive.max(1024px){
        --grid-gap: 2.5rem;
        --grid-container: minmax(6rem, 1fr) [inner-start] minmax(0, 52rem) [inner-end] minmax(6rem, 1fr);
    }

    @include responsive.max(800px){
        --section-gap: 6rem;
        --grid-gap: 2rem;
        --grid-container: minmax(4rem, 1fr) [inner-start] minmax(0, 52rem) [inner-end] minmax(4rem, 1fr);
        --font-base:0.8rem;
    }

    @include responsive.max(500px){
        --section-gap:3rem;
        --grid-gap:1rem;
        --grid-container: minmax(2rem, 1fr) [inner-start] minmax(0, 52rem) [inner-end] minmax(2rem, 1fr);
        --font-base:0.6rem;
    }

    @include responsive.max(400px){
        --grid-container: minmax(1rem, 1fr) [inner-start] minmax(0, 52rem) [inner-end] minmax(1rem, 1fr);
    }
}



